html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: Arial, Verdana, sans-serif;
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    background-color: #070217;
}
.logotip {
    display:block;
    margin:0;
    margin-bottom: 50px;
}
.tags {
    
    display: inline-block;
    margin: 0;
    margin-bottom: 50px;

}
.tags a {
    font-weight: 700;
    font-size: 18px;
    background-color: #3f2aff;
    margin: 0 25px 0 0;
    padding: 24px 49px;
}
.tags a:last-child {
    margin-left: 0;
}

.down-icon {
    padding-left: 30px;
    background-image: url(../img/download.png);
    background-position: left center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}
/* Article Css */

.container {
    margin: 0 auto;
    padding: 80px 0;
    width: 1170px;
}
 
.container h1 {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #333;
    margin:0;
    margin-bottom: 40px;
}

span {
    font-weight: 700;
    }

.container p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #333;
    width: 872px;
    margin: 0;
    margin-bottom: 40px;
}

#link-1 .blue_p {
    border-radius: 20px;
    padding: 50px 95px;
    width: 100%;
    font-size: 30px;
    color: white;   
    background-color: #3f2aff;
}

.article {
    border-radius: 20px;
    padding: 30px;
    background-color: #f3f3f3;
    background-position: right;
    background-repeat: no-repeat;
}
.article {
    background-image: url(../img/decorate-1.png);
}

.nd {
    background-image: url(../img/decorate-2.png);
}

.article:not(last-child) {
    margin: 0;
    margin-bottom: 40px;
}
.article p {
    margin: 0;
    width: 692px;
    margin-bottom: 10px;
}
.container h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 46px;
    color: #333;
}
.container h3 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #333;
}

.article ul {
    padding-left: 15px;
}

.article ul li {
    border-bottom: 1px solid #3f2aff;
    color: #3f2aff;
    font-size: 20px;
    width: max-content;
}

ul li::marker {
    color: #3f2aff;
}

.article ul li:not(last-child) {
    margin: 0;
    margin-bottom: 20px;
}
img  {
    margin: 0;
    margin-bottom: 40px;
}
figure img {
    margin-bottom: 0;
}
figure {
    font-size: 0;
    display: inline-block;
    margin-bottom: 40px;
    width: 872px;
}

figure figcaption {
    margin-top: 0;
    font-size: 14px;  
    font-weight: 400;
    text-align: center;
    padding: 19px 19px;
    border: 1px solid #b6b6b6;
}

/* Modules CSS */
.container {
    width: 1170px;
    margin: 0 auto;
    max-width: 100%;
    background-color:white;
    padding: 0 ;
}

.header {
    padding-top: 50px;
    margin-bottom: 25px;
}

.arrow {
    color: #3F2AFF;
    margin: 0;
    margin-bottom: 25px;
}


